@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: #e5e7eb;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header,
.balance {
  margin: 20px;
  padding: 10px 5px 10px 5px;
  border: 2px solid black;
  background: #111827;
  color: whitesmoke;
}

.button {
  margin: 50px auto;
  padding: 2.5px;
  width: 100px;
  height: 40px;
  color: white;
  background: #1e3a8a;
  border: 2px;
}
.image .design {
  width: 200px;
  height: 300px;
}
